streamlit==1.35.0
numpy==1.26.4  # Versi stabil terbaru di bawah 2
pandas==2.2.3
scikit-learn==1.6.0
joblib==1.4.2
matplotlib==3.10.0
seaborn==0.13.2
python-dateutil==2.9.0.post0
pytz==2024.2
tzdata==2024.2
Flask==3.1.0
Werkzeug==3.1.3
