streamlit==1.35.0  # Library untuk UI
pandas==2.2.3      # Manipulasi data
scikit-learn==1.6.0  # Machine Learning
joblib==1.4.2     # Menyimpan dan memuat model ML
numpy==2.2.0      # Operasi numerik
matplotlib==3.10.0  # Visualisasi data (opsional)
seaborn==0.13.2   # Visualisasi data statistik (opsional)
python-dateutil==2.9.0.post0  # Parsing tanggal
pytz==2024.2      # Zona waktu
tzdata==2024.2    # Basis data zona waktu
Flask==3.1.0      # Framework backend untuk aplikasi
Werkzeug==3.1.3   # Middleware untuk Flask
